@model List<Dish>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @foreach (var ing in item.DishIngredients)
                {
                    <p>@ing.Ingredient.Name</p>
                }
            </td>            
        </tr>
        }
    </tbody>
</table>