@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in Model)
{
<table class="table">
    <thead>
        <h3>@item.Name</h3>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>        
            @foreach (var dish in item.Dishes)
            {
            <tr>
                <td>
                    @dish.Name
                </td>
                <td>
                    @dish.Price
                </td>
                <td>
                    @foreach (var ing in dish.DishIngredients)
                    {
                    <p>@ing.Ingredient.Name</p>
                    }
            </td>            
        </tr>
            }
            
    </tbody>
</table>
}