@model InMemDb.Models.Order

@{
    ViewData["Title"] = "CheckoutConfirmation";
}

<div class="container">
    <div class="well">
        <h3>@Model.Firstname Thank you for your Order!</h3>
        <p>Your order with ordernr: @Model.OrderId has been successfully created. You can enjoy your order in aproximetly 10 min.</p>
    </div>
</div>