@model InMemDb.Models.CheckOutViewModel.CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="row">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <input asp-for="Cart.CartId" type="hidden"/>
        <h2>Delivery and payment</h2>
        <hr/>
        <div class="col-md-6">
            <h3>Enter your delivery address</h3>
            <div class="form-group col-md-12">
                <label asp-for="User.Firstname"></label>
                <input asp-for="User.Firstname" class="form-control"/>
                <span asp-validation-for="User.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="User.Lastname"></label>
                <input asp-for="User.Lastname" class="form-control"/>
                <span asp-validation-for="User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="User.ZipCode"></label>
                <input asp-for="User.ZipCode" class="form-control"/>
                <span asp-validation-for="User.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="User.City"></label>
                <input asp-for="User.City" class="form-control"/>
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="User.Street"></label>
                <input asp-for="User.Street" class="form-control"/>
                <span asp-validation-for="User.Street" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="User.Email"></label>
                <input asp-for="User.Email" class="form-control"/>
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Card information</h3>
            <div class="form-group col-md-12">
                <label asp-for="CreditCard.Name"></label>
                <input asp-for="CreditCard.Name" class="form-control" />
                <span asp-validation-for="CreditCard.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="CreditCard.CardNumber"></label>
                <input asp-for="CreditCard.CardNumber" class="form-control" />
                <span asp-validation-for="CreditCard.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" style="width:35%">
                <label asp-for="CreditCard.ExpirationDate"></label>
                <input asp-for="CreditCard.ExpirationDate" asp-format="{y}" class="form-control" />
                <span asp-validation-for="CreditCard.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" style="width:30%">
                <label asp-for="CreditCard.Cvv"></label>
                <input asp-for="CreditCard.Cvv" class="form-control" />
                <span asp-validation-for="CreditCard.Cvv" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Pay</button>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



