body {
    /*background-image: url('../images/italy_flag_symbol_background_texture_50893_2048x1152.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*.jumbotron {
    background-image: url('../images/salat.jpg');
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}*/

.jumbotron {
    background-image: url('../images/salat.jpg');
    background-size: cover;
    height: 100%;
}
.navbar-minSkit {
    background-color: red;
    background-image: none;
    background-repeat: no-repeat;
}

