
@{
    ViewData["Title"] = "CartSummary";
}

<a href='@Url.Action("Cart", "Carts")'><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span><strong> @ViewData["CartCount"]</strong></a>

